fastapi==0.110.1
uvicorn==0.25.0

pydantic==2.7.1
starlette==0.37.2

python-multipart==0.0.9
python-dotenv==1.0.1

opencv-python==4.10.0.84
numpy==1.26.4
mediapipe==0.10.14

protobuf==4.25.3
absl-py==2.1.0
flatbuffers==24.3.25

pillow==10.3.0