.results-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

margin:40px 0;

}

.result-card{

background:white;

padding:35px;

border-radius:20px;

box-shadow:0 12px 30px rgba(15,23,42,.08);

text-align:center;

}

.result-icon{

font-size:45px;

color:#2563EB;

margin-bottom:20px;

}

.green{

color:#22C55E;

}

.recommendation-card{

display:flex;

gap:25px;

align-items:flex-start;

background:white;

padding:35px;

border-radius:20px;

box-shadow:0 12px 30px rgba(15,23,42,.08);

margin-top:40px;

}

.recommend-icon{

font-size:45px;

color:#22C55E;

}